{% extends 'base.html.twig' %}

{% block title %}Massage index{% endblock %}

{% block body %}
<div class="ui raised  container segment">
    <h1 class="ui header tall center aligned">Massage</h1>

    <a class=" ui button" href="{{ path('massage_new') }}"> <i class="plus icon"></i>new</a></div>
<div class="ui raised  container segment">
    <h3 class="ui header"style="margin-top: 5%">TOUS</h3>
    <table class="ui table striped">
        <thead>
        <tr>

            <th>TYPE</th>
            <th>Prix H.T</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        {% for massage in massages %}
        <tr>

            <td>{{ massage.type}}</td>
            <td>{{ massage.htPrice }}</td>
            <td>
                <div class="ui buttons">
                    <a class="ui button" href="{{ path('massage_show', {'id': massage.id}) }}"><i class="eye icon"></i> </a>
                    <div class="or"></div>
                    <a class="ui button" href="{{ path('massage_edit', {'id': massage.id}) }}"><i class="pencil icon"></i></a>
                </div>
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
