<div class="ui  placeholder segment fluid " style="width: 50%;margin-inline-start: 120px">

    <div class="ui  form  ">
{{ form_start(form) }}
        {{ form_row(form.client) }}
        {{ form_row(form.massage) }}
        {{ form_row(form.prestationDate) }}
           <div class="ui two fields">
               <div class="field">
               {{ form_row(form.startTime) }}
               </div>
               <div class="field">
               {{ form_row(form.endTime) }}
               </div>
           </div>
    <button class=" ui button">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    </div>
</div>
