{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <div class="ui card">
        <div class="image">
            <img src="{{ asset('build/images/userIcon.c9b56c09.png') }}">
        </div>
        <div class="content">
            <h4 class="header">
                {{ client.firstname|upper }} {{ client.lastname |upper}}
            </h4>
            <div class="description">
                <h5 class="ui header">Adresse</h5>
               <div class="ui list">
                   <div class="item">{{ client.address }}</div>
                   <div class="item">{{ client.postCode }}</div>
                   <div class="item">{{ client.city|upper }}</div>
        </div>
                <div class="ui divider"></div>
                <h5 class="ui header">Mail</h5>
                <div class="ui list">
                    <div class="item">{{ client.mail }}</div>
                </div>
                <div class="ui divider"></div>
                <h5 class="ui header">Téléphone</h5>
                <div class="ui list">
                    <div class="item">{{ client.phone }}</div>
                </div>       </div>
    </div>
<div class="ui buttons">
    <a class="ui button" href="{{ path('client_index') }}"><i class="left arrow icon"></i></a>
<div class="or"></div>
    <a class="ui button" href="{{ path('client_edit', {'id': client.id}) }}"><i class="pencil icon"></i></a>
</div>
      <div style="margin: 2%;">
    {{ include('client/_delete_form.html.twig') }}
      </div>
    </div>
{% endblock %}
