{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
<div class="ui raised  container segment">
    <h1 class="ui header tall center aligned">SALON</h1>

    <a class=" ui button" href="{{ path('client_new') }}"> <i class="plus icon"></i>new</a></div>
<div class="ui raised  container segment">
    <h3 class="ui header"style="margin-top: 5%">TOUS</h3>
    <table class="ui table striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Contact</th>
            <th>Tél</th>
            <th>Mail</th>
            <th>Adresse</th>
            <th>CP</th>
            <th>Ville</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.companyName }}</td>
                <td>{{ company.owner }}</td>
                <td>{{ company.phone }}</td>
                <td>{{ company.mail }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.postCode }}</td>
                <td>{{ company.city }}</td>
                <td>

                        <a class="ui button" href="{{ path('company_edit', {'id': company.id}) }}"><i class="pencil icon"></i></a>
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
